// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//==============================================================================
                                //mixins
//==============================================================================

$vdark: #343434;
$dark: #999D97;
$medium: #e0e0e0;
$light: #e8e8e8;

//==============================================================================
                                //Global
//==============================================================================

body {
  overflow: hidden;
  color: $vdark;
}

.crack {
  border: solid 1px $dark;
  border-radius: rem(5);
  position: relative;
  height: rem(490);
  width: 80%;
  min-width: rem(600);
  overflow: hidden;
  margin: rem(20) auto;
}

h1,
h2,
p {
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//==============================================================================
                                //Header
//==============================================================================

header {
  background: $dark;
  border-bottom: solid 1px $dark;
  height: rem(45);
  padding: rem(10);
  position: relative;

  .search {
    margin-left: rem(70);
  }

  a {
    color: #fff;
    display: inline-block;
    float: right;

    &:hover {
      color: $light;
    }

    &.logged-in-user {
      margin-right: rem(20);
    }

    h1 {
      position: absolute;
      left: rem(10);
      font-size: rem(20);
    }
  }
}

//==============================================================================
                                //Login screen
//==============================================================================

.login {
  height: rem(450);
  background: $light;
  padding-top: rem(60);

  input {
    border: solid 1px $medium;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px $medium;
    display: block;
    height: rem(30);
    margin: rem(10) auto;
    outline: none;
    text-align: center;
    width: rem(200);
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: rem(60);
  }
}

//==============================================================================
                                //Rooms list
//==============================================================================

.room-list {
  background: $light;
  border-right: 1px solid $dark;
  float: left;
  height: rem(450);
  overflow: scroll;
  padding: rem(10);
  width: 25%;

  ul {
    margin-top: rem(10);
  }

  li {
    margin-bottom: rem(5);
  }
}

//==============================================================================
                                //Room section
//==============================================================================

.room {
  float: right;
  height: rem(450);
  position: relative;
  width: 75%;
}

.room-name {
  background: $light;
  border-bottom: solid 1px, $dark;
  height: rem(65);
  padding: rem(10);

  span {
    display: block;
    text-align: center;
  }
}

//==============================================================================
                                //Chat List
//==============================================================================

.chat-list {
  max-height: rem(330);
  overflow: scroll;
}

.message {
  border-bottom: 1px solid $light;
  overflow: auto;
  padding: rem(10);

  * {
    margin: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .username {
    width: 30%;
    float: left;
  }

  .body {
    width: 60%;
    float: left;
    text-align: left;
  }

  .timestamp {
    color: $dark;
    display: block;
    float: left;
    font-size: .7rem;
    text-align: right;
    width: 10%;
  }
}

.new-message {
  background: $dark;
  bottom: 0;
  height: rem(55);
  padding: rem(10);
  position: absolute;
  width: 100%;

  input {
    height: rem(30);
    outline: none;
    width: 100%;
  }
}







//
